<!DOCTYPE html>
<html>
<head>
	<title>Bartend.Me</title>
	<meta charset="utf-8" />
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<!-- jQuery -->
	<script src="/vendor/jquery/dist/jquery.min.js"></script>
	<!-- Underscore -->
	<script src="/vendor/underscore/underscore-min.js"></script>
	<!-- Bootstrap JS -->
	<script src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.min.css">
	<!-- Main CSS -->
	<link rel="stylesheet" type="text/css" href="/static/css/main.css">
	<script src="/static/js/app.js"></script>
</head>

<body>

<!-- Header and login -->
<nav class="navbar" role="navigation">
    <div class="container-fluid accent">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <span class="title">
                    <a id="title-link" href="/">Bartend.Me</a>
                </span>

                        <span class="navbar-right">
                        <div class="login-nav">
                        <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" ><button type="button" class="btn glyphicon glyphicon-glass"></button></a>
                          <ul class="dropdown-menu">
                            <li><a href="home">Home</a></li>
                            <li><a href="signup">Sign Up</a></li>
                            <li><a href="login">Login</a></li>
                          </ul>
                        </li>
                        </div>
                        </span>

                        

            <div>
        </div>
    </div>
</nav>
<!-- End Header and login -->

    <!--bartender image -->

    <p>
        Hello, my name is Tobi! <br/> I will be your personal bartender for today. <br/> Select one of the options below, and I'll serve just the drink for you!
    </p>

    <table>
        <tr>
            <td>
                <img id="bartender-tobi" src="static/images/bartender.png">
            </td>
        </tr>
    </table>



        <h1>
            How are you feeling?
        </h1>

        <div class="container-options">
        <button type="button" id="drinkButton"> Happy</button>
        <button type="button" id="drinkButton"> Sleepy</button>
        <button type="button" id="drinkButton"> Fancy</button>
         <button type="button" id="drinkButton"> Adventurous</button>
       
        </div>

        <br/>

         <div class="container-options">
        <button type="button" id="drinkButton"> Romantic</button>
        <button type="button" id="drinkButton"> Zany</button>
        <button type="button" id="drinkButton"> Relaxed</button>
        <button type="button" id="drinkButton"> Pensive</button>
        </div>

<br/><br/>

</body>

</html>