<!DOCTYPE html>
<html>
<head>
	<title>Bartend.Me</title>
	<meta charset="utf-8" />
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<!-- jQuery -->
	<script src="/vendor/jquery/dist/jquery.min.js"></script>
	<!-- Underscore -->
	<script src="/vendor/underscore/underscore-min.js"></script>
	<!-- Bootstrap JS -->
	<script src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.min.css">
	<!-- Main CSS -->
	<link rel="stylesheet" type="text/css" href="/static/css/main.css">
	<script src="/static/js/app.js"></script>
</head>

<body>

<!-- Header and login -->
<nav class="navbar" role="navigation">
    <div class="container-fluid accent">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <span class="title">
                    <a id="title-link" href="/">Bartend.Me</a>
                </span>

                        <span class="navbar-right">
                        <div class="login-nav">
                        <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" ><button type="button" class="btn glyphicon glyphicon-glass"></button></a>
                          <ul class="dropdown-menu">
                            <li><a href="signup">Sign Up</a></li>
                            <li><a href="login">Login</a></li>
                            <li><a href="profile">Profile</a></li>
                            <li><a href="logout">Logout</a></li>
                          </ul>
                        </li>
                        </div>
                        </span>

                        

            <div>
        </div>
    </div>
</nav>
<!-- End Header and login -->

    <!--bartender image -->

    <p>
        Hello, my name is Tobi! <br/> I will be your personal bartender for today. <br/> Select one of the options below, and I'll serve just the drink for you!
    </p>

    <table>
        <tr>
            <td>
                <img id="bartender-tobi" src="static/images/bartender.png">
            </td>
        </tr>
    </table>



        <h1>
            How are you feeling?
        </h1>


        

<form role="form" method="post" action="/bar">   

        <button type="submit" class="drinkButton" id="happy"><a href="/recipe-happy">Happy</a></button>
        
       <button type="submit" class="drinkButton" id="sleepy"> <a href="/recipe-sleepy">Sleepy</a></button>
         <button type="submit" class="drinkButton" id="fancy"> <a href="/recipe-fancy">Fancy</a></button>

        <button type="submit" class="drinkButton" id="adventurous"> <a href="/recipe-adventurous">Adventurous</a></button>
       
        </div>

        <br/>

         <div class="container-options">

         
        <button type="submit" class="drinkButton" id="romantic"><a href="/recipe-romantic"> Romantic</a></button>
      
        <button type="submit" class="drinkButton" id="zany"> <a href="/recipe-zany">Zany</a></button>
            
        <button type="submit" class="drinkButton" id="relaxed"><a href="/recipe-relaxed"> Relaxed</a></button>
       
        <button type="submit" class="drinkButton" id="pensive"> <a href="/recipe-pensive">Pensive</pensive></button>

        </div>
       
</form>

<br/><br/>

</body>

</html>