<!DOCTYPE html>
<html>
<head>
	<title>Bartend.Me</title>
	<meta charset="utf-8" />
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<!-- jQuery -->
	<script src="/vendor/jquery/dist/jquery.min.js"></script>
	<!-- Underscore -->
	<script src="/vendor/underscore/underscore-min.js"></script>
	<!-- Bootstrap JS -->
	<script src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.min.css">
	<!-- Main CSS -->
	<link rel="stylesheet" type="text/css" href="/static/css/main.css">
	<script src="/static/js/app.js"></script>
</head>

<body>

<!-- Header and login -->
<nav class="navbar" role="navigation">
	<div class="container-fluid accent">
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-10">
				<span class="title">
					<a id="title-link" href="/">Bartend.Me</a>
				</span>

						<span class="navbar-right">
						<div class="login-nav">
						<li class="dropdown">
				          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" ><button type="button" class="btn glyphicon glyphicon-glass"></button></a>
				          <ul class="dropdown-menu">
				            <li><a href="home">Home</a></li>
				            <li><a href="signup">Sign Up</a></li>
				            <li><a href="login">Login</a></li>
				          </ul>
				        </li>
						</div>
						</span>

						

			<div>
		</div>
	</div>
</nav>
<!-- End Header and login -->

	<!--image -->
	
	<div class="home-img">
		<img src="static/images/drinks-27.png">
	</div>

<h2>Say hello to your new personal bartender!</h2>

<br/>

    <!-- Sign up Button -->
    <div class="home-btn">
     <button type="button" class="btn btn-default" id="signButton" action="/signup">Sign Up</button>
     <script type="text/javascript">
        document.getElementById("signButton").onclick = function () {
            location.href = "/signup";
        };
    </script>

     <button type="button" class="btn btn-default" id="logButton" action="/login">Login</button>
     <script type="text/javascript">
        document.getElementById("logButton").onclick = function () {
            location.href = "/login";
        };
    </script>
    </div>


    <!-- Log In Button-->
    <div>
 
    </div>


</body>

</html>