<!DOCTYPE html>
<html>
<head>
	<title>Bartend.Me</title>
	<meta charset="utf-8" />
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<!-- jQuery -->
	<script src="/vendor/jquery/dist/jquery.min.js"></script>
	<!-- Underscore -->
	<script src="/vendor/underscore/underscore-min.js"></script>
	<!-- Bootstrap JS -->
	<script src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.min.css">
	<!-- Main CSS -->
	<link rel="stylesheet" type="text/css" href="/static/css/main.css">
	<script src="/static/js/app.js"></script>
</head>

<body>
<div id="page-wrapper" class="container">
	<header class="page-header">
		<h1>Bartend.Me</h1>
	</header>
		<h2>Say hello to your new personal bartender!</h2>

	<!--image -->
	
	<table id="big-drinks-img">
		<tr>
			<td>
				<div class="row">
     			<div class="span12">
				<img width="1100" src="static/images/drinks-27.png" >
				</div>
				</div>
			</td>
		</tr>
	</table>
	

<br/><br/>

    <!-- Sign up Button -->
    <div>
     <button type="button" class="btn btn-default" id="signButton" action="/signup">Sign Up</button>
     <script type="text/javascript">
        document.getElementById("signButton").onclick = function () {
            location.href = "/signup";
        };
    </script>
    </div>

    <br/>
    <!-- Log In Button-->
    <div>
     <button type="button" class="btn btn-default" id="logButton" action="/login">Login</button>
     <script type="text/javascript">
        document.getElementById("logButton").onclick = function () {
            location.href = "/login";
        };
    </script>
    </div>

</div>
</body>

</html>