<!DOCTYPE html>
<html>
<head>
    <title>Bartend.Me</title>
    <meta charset="utf-8" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- jQuery -->
    <script src="/vendor/jquery/dist/jquery.min.js"></script>
    <!-- Underscore -->
    <script src="/vendor/underscore/underscore-min.js"></script>
    <!-- Bootstrap JS -->
    <script src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.min.css">
    <!-- Main CSS -->
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
    <script src="/static/js/app.js"></script>
</head>

<body>

<!-- Header and login -->
<nav class="navbar" role="navigation">
    <div class="container-fluid accent">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <span class="title">
                    <a id="title-link" href="/">Bartend.Me</a>
                </span>
                        <span class="navbar-right">
                        <div class="login-nav">
                        <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" ><button type="button" class="btn glyphicon glyphicon-glass"></button></a>
                          <ul class="dropdown-menu">
                            <li><a href="/signup">Sign Up</a></li>
                            <li><a href="/login">Login</a></li>
                            <li><a href="/profile">Profile</a></li>
                            <li><a href="/bar">Bar</a></li>
                            <li><a href="/logout">Logout</a></li>
                          </ul>
                        </li>
                        </div>
                        </span>

                        
            <div>
        </div>
    </div>
</nav>
<!-- End Header and login -->

 <h1>Mint Julep </h1>



<table class="drinkTable"> 
        <tr>
            <td>
                <div class="col-md-8">
                    <img id="drinkImg" width=300 src="static/images/drinks-01-happy-mint-julep.png">
                </div>
            </td>
  
            <td>
                <div class="col-md-4 drink-list">
                     <div class="list-group">
                         <button type="button" class="list-group-item" style="background-color: #4A0000; color:#fff;">Ingredients</button>
                          <button type="button" class="list-group-item">.25 oz Raw sugar syrup</button>
                          <button type="button" class="list-group-item">8 Mint leaves</button>
                          <button type="button" class="list-group-item">2 oz Bourbon</button>
                          <button type="button" class="list-group-item">Bitters</button>
                          <button type="button" class="list-group-item">1 Mint sprig</button>
                    </div>
                </div>

            </td>
        </tr>
</table>
</div>
      

<div class="container instructions well well-lg">
    <span id="instructions">
        <h3>Instructions:</h3>
        In a Julep cup or rocks glass, lightly muddle the mint and syrup. Add the bourbon and pack tightly with crushed ice. Stir until the cup is frosted on the outside. Top with more crushed ice to form an ice dome and garnish with a few drops of bitters, if desired, and a mint sprig.
    <span>
</div>




</body>

</html>