<!DOCTYPE html>
<html>
<head>
    <title>Bartend.Me</title>
    <meta charset="utf-8" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- jQuery -->
    <script src="/vendor/jquery/dist/jquery.min.js"></script>
    <!-- Underscore -->
    <script src="/vendor/underscore/underscore-min.js"></script>
    <!-- Bootstrap JS -->
    <script src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.min.css">
    <!-- Main CSS -->
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
    <script src="/static/js/app.js"></script>
</head>

<body>

<!-- Header and login -->
<nav class="navbar" role="navigation">
    <div class="container-fluid accent">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <span class="title">
                    <a id="title-link" href="/">Bartend.Me</a>
                </span>
                        <span class="navbar-right">
                        <div class="login-nav">
                        <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" ><button type="button" class="btn glyphicon glyphicon-glass"></button></a>
                          <ul class="dropdown-menu">
                            <li><a href="/signup">Sign Up</a></li>
                            <li><a href="/login">Login</a></li>
                            <li><a href="/profile">Profile</a></li>
                            <li><a href="/logout">Logout</a></li>
                          </ul>
                        </li>
                        </div>
                        </span>

                        
            <div>
        </div>
    </div>
</nav>
<!-- End Header and login -->


 <h1>Bloody Mary </h1>

<table class="drinkTable"> 
        <tr>
            <td>
                <div class="col-md-8">
                    <img id="drinkImg" width=300 src="http://i.share.pho.to/b713b753_o.png">
                </div>
            </td>
  
            <td>
                <div class="col-md-4 drink-list">
                     <div class="list-group">
                         <button type="button" class="list-group-item" style="background-color: #4A0000; color:#fff;">Ingredients</button>
                          <button type="button" class="list-group-item">1 Lemon wedge</button>
                          <button type="button" class="list-group-item">1 Lime wedge</button>
                          <button type="button" class="list-group-item">2 oz Premium Vodka</button>
                          <button type="button" class="list-group-item">4 oz Tomato juice</button>
                           <button type="button" class="list-group-item">2 dashes Tabasco Sauce</button>
                            <button type="button" class="list-group-item">2 tsp Prepared horseradish</button>
                            <button type="button" class="list-group-item">1 Celery stick</button>
                    </div>
                </div>

            </td>
        </tr>
</table>
</div>
      

<div class="container instructions well well-lg">
    <span id="instructions">
        <h3>Instructions:</h3>
        Add all the ingredients except the Champagne to a shaker and fill with ice. Shake well and strain into a Champagne flute. Top with the Champagne and garnish with a lemon twist.
    <span>
</div>


</body>

</html>