body {
	background-color: #64533f;
	text-align: center;
}

div.home-img {
  background: url('images/drinks-27.png');
  width: 100%;
}

h1, h2, p {
	color: #EAD3A8;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
